</body>

<% const year = new Date().getFullYear(); %>
<footer class="footer">
    <h4>Click on the die to roll and get a new cocktail recipe!</h4>
    <p>~Made wholly for learning purposes~</p>
    &copy; Chandana Chakilam <%= year %>
</footer>
</html>